.ept-full-width{
    width: 100%;
}
.performance-tracker-field{
    margin-bottom: 15px;
}
.performance-tracker-dates {
    display: flex;
    gap: 20px;
}

.performance-tracker-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.performance-tracker-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.performance-tracker-field input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.ui-datepicker {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.ui-datepicker a {
    text-decoration: none;
    color: #007cba;
}
.ui-datepicker .ui-datepicker-header {
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.ui-datepicker .ui-state-default {
    border: 1px solid #ccc;
    background: #f9f9f9;
    color: #333;
}
.ui-datepicker .ui-state-hover {
    background: #007cba;
    color: #fff;
}
.ui-datepicker .ui-state-active {
    background: #007cba;
    color: #fff;
    border-color: #007cba;
}
.repeater-field {
    margin-bottom: 20px;
}

.repeater-items .repeater-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.repeater-items .repeater-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.repeater-items .repeater-item input[type="url"],
.repeater-items .repeater-item input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.repeater-items .repeater-item .remove-scope {
    background-color: #dc3232;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#add-scope {
    margin-top: 10px;
}
.performance-log-fields h3 {
    margin-bottom: 10px;
    background: #f6f7f7;
    padding: 10px 20px;
    font-size: 14px;
}